body {
  background-color: lightskyblue;
  min-height: 100vh;
  width: 3000px;
}
main {
  display: inline-block;
}
.main-header {
  display:flex;
  flex-direction: row;
  justify-content: space-between
}
.main-header section {
  padding: 2em;
}
.column-creation {
  padding:2em;

}
.columns {

  display: flex;
  flex-direction: row;
  height: 100%;
}

.card {

  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin:1em;
  min-width: 300px;
  min-height:220px;
  height: auto;

}
#ui-datepicker-div {
  background-color: mintcream;
  padding:1em;
  border-radius: 5%;
  box-shadow: 6px 5px 5px black;

}
.ui-dialog {
  background-color: mintcream;
  padding:1em
}
.column .column-icons span {

  margin:0.75em;
}

.column div {

  margin: 0 1em 1em 1em;
}

.column-icons {
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.task {
  align-self: center;;

}

.task .oi-trash span {
  align-self: flex-end
}

.column-card div:first-child {
    
    align-self: center;
  }

.column-card span {
  margin:0.75em;
  align-self: flex-end;
}

.column div h3 {

  text-align: center;
}

.hidden {
  display: none;
}

.card.column-card {

  min-width:267px;
  min-height:0;
  align-items: flex-start;
}

form {
  display: flex;
  flex-direction: column;
}
